@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lora:wght@500&display=swap");


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  color: #425664;
  letter-spacing: 2px;
}

.logout{
  position: absolute;
  right: 165px;
  bottom: 0px;
  color: #2B3841;
  font-family: 'Lora', serif;
  font-size: 26px;
  font-weight: 100px;
  font-style: bold;
  text-decoration: none;
}

.homeIcon{
  position: absolute;
  top: 5px;
  left: 5px;
  color: #425664;
}

