@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lora:wght@500&display=swap");


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.logout{
  position: absolute;
  right: 165px;
  bottom: 30px;
  color: #425664;
  font-family: 'Lora', serif;
  font-size: 26px;
  background:#EFE8DF;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  text-decoration: none;
}

.homeIcon{
  position: absolute;
  top: 5px;
  left: 5px;
  color: #425664;
}

/* color="disabled" */