@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lora:wght@500&display=swap");

.login--header{
    font-family: 'Euphoria Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #C6AD8F;
}

.login--signIn{
    width: 97px;
    height: 20px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    color: #425664;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    position: relative;
    width: 400px;
    height: 207px;
    justify-content: center;
    background: linear-gradient(180deg, #C6AD8F 0%, rgba(255, 255, 255, 255) 100%);
    border-radius: 10px;
    align-items: center;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 20em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

link{
    position: relative;           
}
